MONGODB_URI=mongodb+srv://pmaadmin:7EfREKT0Ai1W5rGT@cluster0.3xjenv3.mongodb.net/projectmanager?appName=Cluster0
JWT_SECRET=supersecretkey123changethis
JWT_REFRESH_SECRET=refreshsecretkey456changethis
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173